.home-design{
  background-image: url(./asset/images/slider-bg.jpg);
  background-size: cover;
  background-position: 80%;
}

.slot-bg{
background-image: url(./asset/images/slots.jpg);
background-size: cover;
background-position: 80%;
}